stayplease-corporate-dashboard-webconsole/.vs/
stayplease-corporate-dashboard-webconsole/stayplease-corporate-dashboard-webconsole/obj/
stayplease-corporate-dashboard-webconsole/obj/
stayplease-corporate-dashboard-webconsole/bin/
.vs/stayplease-corporate-dashboard-webconsole/v17/
.vs/stayplease-corporate-dashboard-webconsole/FileContentIndex/
.vs/
